{% extends 'base.html'%}

{%block content %}

    <p>about</p>
    <main>
        <div class="container">
            <div><h1>We deals in </h1></div>
            <div><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam unde odit dolorem incidunt sequi, esse consequuntur placeat repellendus similique mollitia! Quae, at ullam minima sapiente atque maiores rem soluta debitis?
            Fugit aliquam praesentium vitae sit a, non quibusdam soluta, nobis corporis esse similique, quam ratione quaerat aperiam beatae officia placeat quos perferendis inventore perspiciatis tempora suscipit ducimus sequi velit. Ullam.
            Vel cumque placeat debitis, deserunt aperiam dolore ratione natus cupiditate ullam iure est in, dolor totam quis temporibus, repellat incidunt officiis sint! Ratione deserunt omnis architecto modi doloribus, error ducimus!
            Corporis, aliquid sunt. Itaque quaerat sint expedita beatae. Debitis quas, vitae voluptas laudantium voluptatem officiis fugiat suscipit tempora maxime error explicabo, iure ex similique, labore expedita qui. Dolorum, deserunt nostrum!
            Possimus, ea tenetur? Illo porro quos quisquam doloremque voluptate voluptas beatae, aut at! Delectus temporibus est autem? Mollitia, quidem perspiciatis quis, sed iure eos nisi laudantium accusamus sint suscipit ab.
            Amet odio vitae perspiciatis fugiat beatae quidem quod error optio, iusto est! Numquam quis similique voluptates tenetur cum? Velit aut eveniet nulla corrupti distinctio sit nihil, asperiores minus modi sequi?
            Dolorem, commodi iure. Et sequi, corporis exercitationem aut omnis beatae, nisi nobis quos possimus quis adipisci, voluptates sapiente ex quia ad architecto! Perspiciatis alias harum ex magnam aliquam commodi doloribus!
            Debitis vitae nobis distinctio nam consequatur ab dolorum aliquam magnam facere. Eos dolorem alias itaque, placeat ratione asperiores sunt autem, incidunt quo vel aperiam iure est aliquid vitae vero minima?
            Necessitatibus fuga provident sequi facilis, est minus assumenda, incidunt consectetur ad soluta eos vitae exercitationem culpa. Velit cupiditate odit beatae est quod quis, asperiores eum harum labore dolorem, illum nihil!
            Qui recusandae omnis iste reprehenderit sunt adipisci magni molestiae et est amet labore officiis, earum delectus commodi explicabo facere distinctio laboriosam dolore blanditiis accusantium officia sed deleniti quidem. Dignissimos, nam!</p></div>
        </div>
    </main>
{%endblock%}